{% extends 'myauth/base.html' %}

{% block title %}
  About Me
{% endblock %}

{% block body %}
  <h1>User Info</h1>
  {% if user.is_authenticated %}
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}" />
    {% else %}
      <p>No avatar uploaded...</p>
    {% endif %}
    <h2>Details:</h2>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <div>
      <a href="{% url 'myauth:user-edit' pk=user.pk %}">Edit profile</a>
    </div>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}
