{% extends 'shopapp/base.html' %}

{% block title %}
  Product Details
{% endblock %}

{% block body %}
  <h1>Product #{{ product.pk }} details</h1>
  <p>{{ product.name }}</p>
  <p>{{ product.price }}</p>
  <p>{{ product.discount }}</p>
  <p>{{ product.description }}</p>
  <div>
    <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Archive product</a>
  </div>
  <div>
    <a href="{% url 'shopapp:products_list' %}">Back to products</a>
  </div>
{% endblock %}
