{% extends 'shopapp/base.html' %}

{% block title %}
  Products List
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  <ul>
    {% for product in products %}
      <li>
        <h3>
          {{ product.name|capfirst }} <a href="{% url 'shopapp:product_details' pk=product.pk %}">#{{ product.pk }}</a>
          {{ product.price }}
        </h3>
        <p>
          {{ product.description }}
          {% if product.discount != 0 %}
            ✂️ {{ product.discount }} %%
          {% endif %}
          <small>{{ product.created_at }}</small>
        </p>
      </li>
    {% empty %}
      <li>No products</li>
    {% endfor %}
  </ul>
  <div>
    <a href="{% url 'shopapp:product_create' %}">Create products form</a>
  </div>
{% endblock %}
