{% extends 'blogapp/base.html' %}

{% block title %}
  Order #{{ object.pk }} Details
{% endblock %}

{% block body %}

<ul>
  {% for article in articles %}
    <li>
      <h2><a href="{% url 'blogapp:article' pk=article.pk %}">{{ article.title }}</a></h2>
      <p>
        <strong>Publishing date:</strong> {{ article.pub_date|date:'d.m.Y H:i' }}
      </p>
      <p>
        <strong>Author:</strong> {{ article.author.name }}
      </p>
      <p>
        <strong>Category:</strong> {{ article.category.name }}
      </p>
      <p>
        <strong>Tags:</strong>
        {% for tag in article.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          No tags
        {% endfor %}
      </p>
      <hr />
    </li>
  {% empty %}
    <li>No articles yet...</li>
  {% endfor %}
</ul>
{% endblock %}
